form{
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: relative;
    margin: 0 auto;
    height: 300px;    
    background-color: #FFF;    
    padding: 2.25em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 2px #DDD;
    border-radius: .5em;
}
.container-main{
    margin: 40px auto;
    background-color: #eff3f4;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
