<div class="container-main" style="text-align:center">
  <img src="https://az860744.vo.msecnd.net/images/indialends-logo.png" />
  <form>
    <div class="form-content">
      <legend style="font-weight:600;">Library Management</legend>
      <table >
        <p>
          <tr>
            <td>
              <label>User Name</label>
            </td>
            <td>
              <input id="LoginUser" type="text" />
            </td>
          </tr>
        </p>
        <p>
          <tr>
            <td>
              <label>Password </label>
            </td>
            <td>
              <input id="LoginPass" type="password" />
            </td>
          </tr>
        </p>
        <button id="LoginSubmit" type="submit">Login</button>
      </table>
    </div>
  </form>
</div>