<div class="row">
  <div class="col-sm-4">
    <div class="container-main">
      <img src="https://az860744.vo.msecnd.net/images/indialends-logo.png" />
      <form #userInfo="ngForm" class="form-content form-group" [ngStyle]="{'max-height.px': height}">
        <legend style="font-weight:600;">{{titlename}}</legend>
        <div class="form-group" [class.has-error]="uname.invalid && uname.touched" [class.has-success]="uname.valid">
          <label class="control-label">User Name</label>
          <input id="LoginUser" [(ngModel)]="loginEmail" #uname="ngModel" (focus)="loginChange($event)" required pattern="{{unamePattern}}"
            name="LoginUser" placeholder="Input IL email id" type="text" class="form-control" />
          <span class="help-block" *ngIf="uname.invalid && uname.touched">IndiaLends E-mail required</span>
        </div>
        <div class="form-group">
          <p>
            <label *ngIf="passShow">Password </label>
            <input id="LoginPass" (focus)="passFocusEvent($event)" [(ngModel)]="loginPass" name="loginPass" #pass="ngModel" placeholder="Check your mail for OTP"
              type="password" pattern="{{passPattern}}" [disabled]="uname.invalid" *ngIf="passShow" class="form-control" />
          </p>
        </div>
        <p>
          <button [id]="loginbtnId" (click)="loginbtnClick($event)" type="submit" [disabled]="uname.invalid" class="btn btn-success form-control">{{loginbtn}}</button>
        </p>
        {{count}}
        <p>
          <span class="text-info">* For Sign Up also enter E-mail & OTP</span>
        </p>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
</div>