  <div class="container-main row" style="text-align:center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <img src="https://az860744.vo.msecnd.net/images/indialends-logo.png" />
      <form class="form-content">
        <div>
          <legend style="font-weight:600;">Library Management</legend>
          <p>
            <label>User Name</label>
            <input id="LoginUser" type="text" class="form-control" />
          </p>
          <p>
            <label>Password </label>
            <input id="LoginPass" type="password" class="form-control" />
          </p>
          <button id="LoginSubmit" type="submit" class="btn btn-success">Login</button>
        </div>
      </form>
    </div>
  </div>